      <hr>
      <div class="footer row-fluid">
	<div class="span6">
          <ul class="nav nav-pills">
            <li><%= link_to 'Browse Library', '/library.html' %></li>
            <li><%= link_to 'About Us', '/about.html' %></li>
            <li><%= link_to 'Our Blog', '/blog.html' %></li>
            <li><%= link_to 'Terms of Use', '#' %></li>
          </ul>
	</div>
	<% if ideas %>
	<%= '<div class="span3">' %>
	<%=  '<a href="#myModal" role="button" class="btn" data-toggle="modal">Page ideas</a>' %>
	<%= '</div>' %>
        <%= '<div class="span3">' %>
	<% else %>
	<%= '<div class="span6">' %>
	<% end %>
	  <p class="muted text-right">&copy; 2013 Mechanics Academy</p>
	</div>
      </div>
    </div>
    <%= partial 'layouts/signin_window' %>
    <%= partial 'layouts/signup_window' %>
    <% if ideas %>
    <%= partial 'layouts/ideas_window' %>
    <% end %>
    <%= javascript_include_tag "jquery-1.9.1.min.js", "bootstrap", "holder", "site" %>
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
