    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">Ideas for &ldquo;<%= data.page.title || "This page" %>&rdquo;</h3>
      </div>
      <div class="modal-body">
	<p>What you're seeing right now is simply a prototype. This page will eventually contain:</p>
	<ol>
	  <% data.page.contains.each do |item| %>
	  <li><%= item %></li>
	  <% end %>
	</ol>
	<p>This page will help meet the following goals of the project: <%= data.page.goals || "" %></p>
	<p>Related interesting ideas:</p>
	<ol>
	  <% data.page.ideas.each do |idea| %>
	  <li><%= idea %></li>
	  <% end %>
	</ol>
	<p>If you have more ideas to share or want to <%= link_to 'contribute to Mechanics Academy', '/contribute.html' %>, please get in touch.</p>
      </div>
      <div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
