<%= partial 'layouts/header', :locals => { :logged_in => false } %>
      <div class="row-fluid">
	<div class="span7">
	  <%= yield %>
	</div>
	<div class="span3 offset2">
	  <h3>Recent Articles</h3>
	  <ul class="unstyled">
            <% blog.articles[0...10].each do |article| %>
            <li>
	      <a href="<%= article.url %>"><%= article.title %></a>
	      <br>
	      <p class="muted"><small><%= article.date.strftime('%B %e, %Y') %></small></p>
	    </li>
            <% end %>
	  </ul>
	  <hr>
	  <h3>Topics</h3>
	  <ol>
            <% blog.tags.each do |tag, articles| %>
            <li><a href="<%= tag_path tag %>"><%= tag %> (<%= articles.size %>)</a></li>
            <% end %>
	  </ol>
	</div>
      </div>
<%= partial 'layouts/footer', :locals => { :ideas => false } %>
