<%= partial 'layouts/header', :locals => { :logged_in => false } %>
      <div class="row-fluid">
	<div class="span7">
	  <%= yield %>
	</div>
	<div class="span3 offset2">
	  <%= partial "partials/recent_blog_posts" %>
	  <hr>
	  <h3>Topics</h3>
	  <ol>
            <% blog.tags.each do |tag, articles| %>
            <li><a href="<%= tag_path tag %>"><%= tag %> (<%= articles.size %>)</a></li>
            <% end %>
	  </ol>
	</div>
      </div>
<%= partial 'layouts/footer', :locals => { :ideas => false } %>
