<%= partial 'layouts/header', :locals => { :logged_in => false } %>

<div class="row">
  <div class="col-lg-8">
    <%= yield %>
  </div>
  <div class="col-lg-4">
    <div class="panel">
      <div class="panel-heading">About</div>
      <p>Mechanics Academy is an online resource for anyone interested in learning mechanics. The project aims to use interactive, application-relevant simulations to engage and teach students an exciting blend of mechanics, applied mathematics and computational science.</p>
      <p><a href="/about/">Learn more&hellip;</a></p>
    </div>
    <%= partial "partials/recent_blog_posts" %>
    <div class="panel">
      <div class="panel-heading">Topics</div>
      <ul>
	<% blog.tags.each do |tag, articles| %>
	<li><a href="<%= tag_path tag %>"><%= tag %> (<%= articles.size %>)</a></li>
	<% end %>
      </ul>
    </div>
  </div>
</div>

<%= partial 'layouts/footer', :locals => { :ideas => false } %>
