<%= partial 'layouts/header' %>
      <div class="row-fluid">
	<div class="span7">
	  <%= yield %>
	</div>
	<div class="span3 offset2">
	  <h3>Recent Articles</h3>
	  <ol>
            <% blog.articles[0...10].each do |article| %>
            <li><a href="<%= article.url %>"><%= article.title %></a> <span><%= article.date.strftime('%b %e') %></span></li>
            <% end %>
	  </ol>
	  <hr>
	  <h3>Categories</h3>
	  <ol>
            <% blog.tags.each do |tag, articles| %>
            <li><a href="<%= tag_path tag %>"><%= tag %> (<%= articles.size %>)</a></li>
            <% end %>
	  </ol>
	</div>
      </div>
<%= partial 'layouts/footer', :locals => { :ideas => false } %>
