<%= partial 'layouts/header', :locals => { :logged_in => false } %>

<div class="row">
  <div class="col-sm-8">
    <%= yield %>
  </div>
  <div class="col-sm-3 col-offset-1">
    <h3>About</h3>
    <p>Mechanics Academy aims to be a stimulating and fun environment where students learn topics in mechanics and applied mathematics.</p>
    <p><a href="/about/">Learn more&hellip;</a></p>
    <hr>
    <%= partial "partials/recent_blog_posts" %>
    <hr>
    <h3>Topics</h3>
    <ul class="list-unstyled">
      <% blog.tags.each do |tag, articles| %>
      <li><p><a href="<%= tag_path tag %>"><%= tag %> (<%= articles.size %>)</a></p></li>
      <% end %>
    </ul>
  </div>
</div>

<%= partial 'layouts/footer', :locals => { :ideas => false } %>
