<li class="<%= width %>">
  <a href="<%= course[1]["uri"] %>" class="thumbnail">
    <img data-src="holder.js/265x200/text:<%= course[1]["type"] %>/#0088cc:#ffffff" alt="">
  </a>
  <h4><%= course[0] %></h4>
  <p><%= course[1]["description"] %></p>
  <p><strong>Instructor</strong>: <%= course[1]["instructor"] %>, <%= course[1]["institution"] %></p>
  <p><strong>License</strong>: <%= course[1]["license"] %></p>
  <% if course[1].tags %>
  <p>
    <% course[1].tags.each do |tag| %>
    <span class="label label-info"><%= tag %></span>
    <% end %>
    <% end %>
  </p>
</li>
