<div class="row-fluid">
  <div class="span8">
    <h4><%= link_to course_name, "#" %></h4>
    <p><%= course_long_description %></p>
  </div>
  <div class="span4">
    Progress: <span class="pull-right strong">36%</span>
    <div class="progress">
      <div class="bar" style="width: 36%;"></div>
    </div>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span8">
    <h4><%= link_to course_name, "#" %></h4>
    <p><%= course_long_description %></p>
  </div>
  <div class="span4">
    Progress: <span class="pull-right strong">10%</span>
    <div class="progress">
      <div class="bar" style="width: 10%;"></div>
    </div>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span8">
    <h4><%= link_to course_name, "#" %></h4>
    <p><%= course_long_description %></p>
  </div>
  <div class="span4">
    Progress: <span class="pull-right strong">90%</span>
    <div class="progress">
      <div class="bar" style="width: 90%;"></div>
    </div>
  </div>
</div>
