---
title: About Mechanics Academy
content:
  - A brief introduction to the project and a summary of its goals
  - Information about the team behind Mechanics Academy
  - Contact information
  - Recent information and news from the project blog
potential_content:
  - List of features of the site
  - Answers to some frequently asked questions
  - Meta information about the technology behind the site
  - Selected testimonials from students
  - Links to (and excerpts from) press coverage
goals: 0
ideas:
  - Overall layout inspiration -- <a href="http://www.codecademy.com/about">Codecademy's "About Us" page</a>
  - Overall layout inspiration -- <a href="https://www.udacity.com/how-it-works">Udacity's "How it works" page</a>
  - Use a silly picture of the team on hover <a href="https://www.khanacademy.org/about/our-interns">like at Khan Academy</a>
  - When more to say, expand to look like <a href="https://www.khanacademy.org/about">Khan Academy's "About Us" page</a>
  - Use <a href="http://khanacademy.desk.com/">Khan Academy's FAQ layout</a> when introducing FAQs
---

<div class="row-fluid">
  <div class="span8">
    <h2>About Mechanics Academy</h2>
    <div class="flex-video widescreen"><iframe src="http://www.youtube.com/embed/XM58UnK4Og4?rel=0" frameborder="0" allowfullscreen></iframe></div>
    <h3>The vision</h3>
    <p>Mechanics Academy is an online resource for anyone interested in learning mechanics. The project aims to use interactive, application-relevant simulations to engage and teach students an exciting blend of mechanics, applied mathematics and computational science.</p>
    <p>The overarching goals of the project are to:</p>
    <ul>
      <li>Attract learners to the rich and useful topic of mechanics</li>
      <li>Act as a catalogue of high-quality learning resources for mechanics</li>
      <li>Offer help and support to mechanics learners</li>
      <li>Provide mechanisms to test learning and gauge competency</li>
      <li>Serve as a conduit between a community with mechanics-related competency and the industry</li>
      <li>Provide scientific computing services on the cloud for easy access to powerful computational mechanics tools</li>
    </ul>
    <p>The team behind Mechanics Academy is working hard on realising this vision. If you believe in the goals of the project, <%= link_to 'consider joining us', '/contribute/' %>!</p>
    <hr>
    <h3>The underlying technology</h3>
    <p>Mechanics Academy consists of two primary technologies. The first is Django-based a system that offers a selection of <a href="http://thinkbot.net/">scientific computing software as a service</a>.</p>
    <div class="flex-video widescreen"><iframe src="http://www.youtube.com/embed/Ey-jSRveWJQ?rel=0" frameborder="0" allowfullscreen></iframe></div>
    <p>The second is a Ruby on Rails-based web app that employs this compute service. It presents application-relevant mechanics simulations to students along with more traditional learning material. As you can probably tell, we&#8217;re busy <a href="https://github.com/hnarayanan/mechnicsacademy-design-docs/blob/master/design.rst">architecting</a> and prototyping this app at the moment.</p>
    <div class="flex-video widescreen"><iframe src="http://www.youtube.com/embed/7CpfQqsdYPE?rel=0" frameborder="0" allowfullscreen></iframe></div>
    <hr>
    <h3>The team</h3>
    <p>At the moment, &#8220;the team&#8221; consists only one enthusiastic individual: me (<a href="http://harishnarayanan.org/">Harish Narayanan</a>). I received my joint doctorate degree from the <a href="http://me.engin.umich.edu/">Department of Mechanical Engineering</a> and the <a href="http://cac.engin.umich.edu/">Scientific Computing Program</a> at the <a href="http://umich.edu/">University of Michigan</a> in late 2007. From 2008 to late 2012, I was a post-doctoral fellow at the <a href="http://cbc.simula.no/pub/">Center for Biomedical Computing</a> at <a href="http://simula.no/">Simula Research Laboratory</a>, Norway.</p>
    <p>I greatly enjoy working with continuum field theories to model and understand biological phenomena, and much of my doctoral and postdoctoral research has revolved around biological physics and related mathematical methods. You can visit <a href="http://harishnarayanan.org/">my personal web site</a> to learn more.</p>
    <p>Working on Mechanics Academy has been so fulfilling that I&#8217;ve recently (end 2012) started to focus on it full time. I have since been working hard on the technology underlying the site and hope to have an initial release out by mid April, 2013. Follow the <%= link_to "Mechanics Academy blog", "/blog/" %> for more up-to-date news, and do get in touch if you&#8217;re interested in collaborating with me on this project!</p>
  </div>
  <div class="span3 offset1">
    <%= partial "partials/contact_information" %>
    <hr>
    <%= partial "partials/recent_blog_posts" %>
    <p><%= link_to 'Read more&hellip;', '/blog/', :class => 'btn' %></p>
  </div>
</div>
